<%- include('partials/head')%>
<%- include('partials/menu')%>  
<div class="ui grid">
  <% for(let inst of instruments){%>
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <img src=<%=inst.url%>>
        </div>
        <div class="content">
          <a class="header" href="/instrumentos/<%=inst.classificacao%>/<%=inst.tipo%>/<%=inst.id%>"><%=(inst.marca + ' ' + inst.nome)%></a>
          <div class="meta">
            <span class="date"><%=inst.tipo%></span>
          </div>
          <div class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, vitae.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="dollar icon"></i>
            R$ <%=inst.preco%>
          </a>
        </div>
      </div>
    </div>
  <%}%>  
</div>
<%- include('partials/footer')%>